* {
  box-sizing: border-box;
}

html, body, #root, #root>div {
  height: 100%;
  width: 100%;
  background: #11002c;
}

.cube-container {
  perspective: 1000px;
  perspective-origin: 50% 50%;

  position: absolute;
  left: 50%;
  top: 25%;

  display: grid;
}

.cube {
	transform-style: preserve-3d;
}
.cube .front {
  transform: rotateY(-90deg) translateX(50%) rotateY(90deg);
}
.cube .right {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}
.cube .left {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}
.cube .top {
  transform: rotateX(-90deg) translateY(-50%);
  transform-origin: top center;
}
.cube .bottom {
  transform: rotateX(90deg) translateY(50%);
  transform-origin: bottom center;
}
.cube .back {
  transform: rotateY(-90deg) translateX(-50%) rotateY(90deg);
}

.cube div {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.425);
  border-radius: 10%;
}

.mybutton {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  padding: 5px;
  border: white solid 2.5px;
  background-color: rgba(255,255,255,0.4);
  color: rgba(255,255,255,0.9);
  justify-self: center;
  align-self: center;
}

.mybutton:hover {
  background-color: rgba(255,255,255,0.6);
}