---
import type { TocNode } from '../lib/toc';

interface Props {
  nodes: TocNode[];
}

const { nodes } = Astro.props;
---

<ol>
  {
    nodes.map((node) => (
      <li>
        <a class="link" href={`#${node.heading.slug}`}>
          {node.heading.text}
        </a>
        {node.children.length > 0 && <Astro.self nodes={node.children} />}
      </li>
    ))
  }
</ol>
